[submodule "nanos6-cluster"]
	path = nanos6-cluster
	url = https://github.com/bsc-pm/nanos6-cluster.git
[submodule "mcxx"]
	path = mcxx
	url = https://github.com/bsc-pm/mcxx.git
[submodule "nanos6-argodsm"]
	path = nanos6-argodsm
	url = https://github.com/epeec/nanos6-argodsm.git
